POSTGRES_DB=skillbridge
POSTGRES_USER=skillbridge
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
MINIO_ROOT_USER=skillbridge-minio
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_PASSWORD
MINIO_BUCKET=skillbridge
APP_FRONTEND_BASE_URL=http://localhost:5173
APP_PUBLIC_BASE_URL=http://localhost:8080
JWT_ISSUER=DNTU.SkillBridge.Api
JWT_AUDIENCE=DNTU.SkillBridge.Web
JWT_SIGNING_KEY=CHANGE_ME_REPLACE_WITH_A_RANDOM_SECRET_OF_AT_LEAST_64_CHARACTERS_123456
