# DNTU SkillBridge API Test Environment Template
BASE_URL=http://127.0.0.1:5187
API_VERSION=v1

TEST_ADMIN_EMAIL=admin@skillbridge.local
TEST_ADMIN_PASSWORD=Admin@SkillBridge2026!

TEST_STUDENT_EMAIL=student.test@dntu.edu.vn
TEST_STUDENT_PASSWORD=Student@SkillBridge2026!

TEST_COMPANY_EMAIL=hr@techinnovations.vn
TEST_COMPANY_PASSWORD=Company@SkillBridge2026!

TEST_LECTURER_EMAIL=lecturer.test@dntu.edu.vn
TEST_LECTURER_PASSWORD=Lecturer@SkillBridge2026!

HTML_REPORT_DIR=playwright-report
TRACE_ON_FAILURE=true
